@{
  ViewData["Title"] = "Confirmação de Conta";
}

@section Styles {
    <link rel="stylesheet" href="~/css/account.css">
}

<form>
  <div class="text-center mb-5">
    <h1 class="display-4">Quase Pronto</h1>
    <h3>Acesse o email informado para concluir a criação de sua conta</h3>
  </div>
</form>
